<h1>Blog Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= blog_post.title %></td>
        <td><%= truncate(blog_post.body, length: 100) %></td>
        <td><%= link_to 'View', blog_post_path(blog_post), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
