<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="text-left col-lg-6", style="padding-left: 0px ">
        <div class="row">
          <thead> <th><%= user.name %></th> <th><%= user.email %></th> </thead>
        </div>
      </div>
    </div>
  </div>
</div>
