<div id="flash">
  <% flash.each do |type, messages| %>
    <% next if type == "errors" %>

    <% if messages.is_a?(Array) %>
      <div class="alert alert-<%= flash_key_apply(type) %>">
        <% messages.each do |msg| %>
          <div><%= msg %></div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-<%= flash_key_apply(type) %>"><%= messages %></div>
    <% end %>
  <% end %>
</div>
