<div id="flash">
  <% flash.each do |type, messages| %>
    <% next if type == "errors" %>
    <% if messages.is_a?(Array) %>
      <div class="alert alert-<%= type %>">
        <% messages.each do |msg| %>
          <div><%= msg %></div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-<%= type %>"><%= messages %></div>
    <% end %>
  <% end %>
</div>
