<p class="notice"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <div class="course-card">
      <%= render course %>
      <p>
        <%= link_to "Show this course", course %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New course", new_course_path, class: 'new-course-link' %>
