<!DOCTYPE html>
<html>
  <head>
    <title>RailsFundamental</title>
    <%= render "layouts/shim" %>
  </head>

  <body class="prose mx-auto">
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
